<!DOCTYPE html>
<html>
<head>
	<!-- Google Tag Manager -->
	<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-P2RH82Q');</script> -->
	<!-- End Google Tag Manager -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Региональная общественная организация "Федерация северной ходьбы в городе Москве"</title>
	<link rel="stylesheet" href="src/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--[if IE 9]>
		<link rel="stylesheet" href="ie-fix/ie9.css.css">
  	<![endif]-->
  	<!--[if lt IE 9]>
		<link rel="stylesheet" href="ie-fix/ie-none.css.css">
  	<![endif]-->
</head>
<body>

<!-- Google Tag Manager (noscript)
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2RH82Q"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
<!-- End Google Tag Manager (noscript) -->

<!--[if lt IE 7]>

<h1>Обновите браузер</h1>
<![endif]-->
	
<!-- Шапка начало -->
	<div onclick="openMenu()" style="overflow-x: hidden;"></div>
	<div class="wrapper">
		<p class = "siteName">
			Официальный сайт и блог Региональной общественной организации "Федерация
			северной ходьбы в городе Москве"
		</p>
		<hr align="center" width="100%" size="1px" color="#dddddd" />
		<div class="head">
			<a href="index.html"><img class = "head__logo" src="src/img/logo.jpg"></a>
			<div class="wrapperMenuAndSearch">
				<div id="head__toggle-btn" onclick="openMenu()">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<nav id = "menu">
					<li><a class="list__links" href="index.html">Главная</a></li>
					<li id="aboutFederationPseudo" onclick="openSubMenu('aboutFederationPseudo')">
						<div class="itemsContainer">
							<a section="aboutFederationSection">О федерации</a>
							<span class="triangleDec">▼</span>
						</div>
						<ul class='menu__list'>
							<li><a section="aboutFederationSection" class="list__links" href="goals.html">Цели</a></li>
							<li><a section="aboutFederationSection" class="list__links" href="tasks.html">Задачи</a></li>
							<li><a section="aboutFederationSection" class="list__links" href="composition.html">Состав</a></li>
							<li><a section="aboutFederationSection" class="list__links" href="structure.html">Структура</a></li>
							<li><a section="aboutFederationSection" class="list__links" href="foundingDocuments.html">Документы</a></li>
						</ul>
					</li>
					<li id="sport" onclick="openSubMenu('sport')">
						<div class="itemsContainer">
							<a section="aboutFederationSection">Спорт</a>
							<span class="triangleDec">▼</span>
						</div>
						<ul class='menu__list'>
							<li><a section="aboutFederationSection" class="list__links" href="calendarCompetitions.html">Календарь соревнований</a></li>
							<li><a section="aboutFederationSection" class="list__links" href="pastCompetitions.html">Прошедшие Соревнования</a></li>
							<li><a section="aboutFederationSection" class="list__links" href="protocols.html">Протоколы</a></li>
							<li><a section="aboutFederationSection" class="list__links" href="judges.html">Судьи</a></li>
							<li><a section="aboutFederationSection" class="list__links" href="rules.html">Правила</a></li>
						</ul>
					</li>
					<li id="news"><a section="aboutFederationSection">Новости</a></li>
					<li><a href="instructors.html">Инструкторы</a></li>
					<li id='gallery' onclick="openSubMenu('gallery')">
						<div class="itemsContainer">
							<a section="aboutFederationSection">Галлерея</a>
							<span class="triangleDec">▼</span>
						</div>
						<ul class='menu__list'>
							<li><a section="aboutFederationSection" class="list__links" href="photoAlbums.html">Фото альбомы</a></li>
							<li><a section="aboutFederationSection" class="list__links" href="videoAlbums.html">Видео альбомы</a></li>
						</ul>
					</li>
					<li><a class="list__links" href="contacts.html">Контакты</a></li>
				</nav>
				<div class="head__searchContainer">
					<form>
						<p>
							<input type="text">
						</p>
						<input type="submit" value="Поиск">
					</form>
				</div>
				<a class="donateLink" href="donate.html">
					<div class="box">
						<button class="donateButton">
							<span class="donateButtonTitle">
								Вступить в федерацию
							</span>
						</button>
					</div>
				</a>
			</div>		
		</div>
		<hr align="center" width="100%" size="1px" color="#dddddd" />
<!-- Шапка конец -->

		<div class="centralContentAndSidebar">
<!-- Центральный контент начало -->				
			<div class="containerForCentralContent">	
				<div class="itemBlog">
					<div class="itemBlog__category">
						<a href="aboutSportEvents.html" class="itemBlog__category__link">Путешествия</a>
					</div>
					<a href="#"><img class = "itemBlog__img" src="src/img_test/calendarFilterEvents1.jpg"></a>
					<div class="itemBlog__description">
						<a href="#"><h3>Неделя отдыха и фитнеса в горах на высоте 1240 м. в Кисловодске.</h3></a>
						<p>Для тех, кто любит активный отдых, организовывается недельный фитнес-тур в горы на высоте 1240 м. С 7 по 12 сентября будет проведено</p>
						<p>Для тех, кто любит активный отдых, организовывается недельный фитнес-тур в горы на высоте 1240 м. С 7 по 12 сентября будет проведено</p>
					</div>
					<div class="itemBlog__underPostInfo"> 
						<a href="#" class="itemBlog__underPostInfo__datePublish">09 Августа 2019</a>
						<a href="#" class=itemBlog__underPostInfo__response>3 ответа</a>
					</div>
				</div>

				<div class="paginationContainer">
					<a href="#"><</a>
				
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<span>...</span>
					<a href="#">10</a>
				
					<a href="#">></a>
				</div>

			</div>
<!-- Центральный контент конец -->
<!-- Cайдбар начало -->
			<div class="sidebarItems">
				<div class="sidebarItems__description">
					<p>Партнеры</p>
				</div>
				<div class="sidebarItems__sidebaritem">
					<a href="http://fst-otm.net/"><img src="src/img/fst-otm.net.jpg" alt="baner"></a>
				</div>
				<div class="sidebarItems__sidebaritem">
					<a href="http://www.ruswalk.ru/"><img src="src/img/ruswalk.jpg" alt="baner"></a>
				</div>
				<div class="sidebarItems__sidebaritem">
					<a href="https://www.nordicjournal.ru/"><img src="src/img/NW.jpg" alt="baner"></a>
				</div>
				<div class="sidebarItems__sidebaritem">
					<a href="https://www.mgpu.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=43805265&utm_content=7602114356&utm_term=мгпу%20официальный%20сайт&yclid=4921962780622610026"><img src="src/img/MGPU.svg" alt="baner"></a>
				</div>
				<div class="sidebarItems__sidebaritem">
					<a href="http://aclive.ru/"><img src="src/img/LogoAclive.jpg" alt="baner"></a>
				</div>
			</div>
<!-- Cайдбар конец -->				 
		</div>
	</div> <!--wrapper конец-->		
<!-- Футер начало -->
		<div class="footer">
			<h6 class="footer__heading6"></h6>
			<h3 class="footer__heading3"></h3>
			<p class="footer__paragraph"></p>
			<div class="footer__container">
				<ul class="social">
					<li class="social__item whatsapp">
						<i class="fa fa-whatsapp"></i>
					</li>
					<li class="social__item vk">
						<i class="fa fa-vk"></i>
					</li>
					<li class="social__item twitter">
						<i class="fa fa-twitter"></i>
					</li>
					<li class="social__item instagram">
						<i class="fa fa-instagram"></i>
					</li>
				</ul>
			</div>
		</div> 
<!-- Футер конец -->
<script src="src/js/min.js/openMenu.min.js"></script>
<script src="src/js/min.js/activeMenuLink.min.js"></script>
</body>
</html>
